main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.display-img {
  width: 100%;
  background-size: cover;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.rating span {
  margin: 0.1rem;
}
